<div class="container wrapper wrapper2">
    <div class="row">
        <div class="col-md-12">
            <h3>Modification d'un produit</h3>
            <form [formGroup]="productForm" (ngSubmit)="submitForm()">

                <div class="form-group mb-2">
                    <label>Noms et descriptions du produit</label>
                    <div>
                        <ng-container #container></ng-container>
                    </div>
                    <button type="button" class="btn btn-info" (click)="addProductDetail()">
                        Ajouter une traduction
                    </button>
                </div>

                <div class="form-group mb-2">
                    <label>Prix du produit</label>
                    <input type="number" min="0" formControlName="price" class="form-control" required
                        [ngClass]="{ 'is-invalid': submitted && ctrls['price'].errors }">
                    <div *ngIf="submitted && ctrls['price'].errors" class="invalid-feedback">
                        <div>Prix obligatoire</div>
                    </div>
                </div>

                <div class="form-group mb-2">
                    <label>Catégories (Ctrl + Click pour sélectionner plusieurs catégories)</label>
                    <select class="form-select" multiple formControlName="categories">
                        <option *ngFor="let cat of allCategoriesList" [ngValue]="cat">
                            {{ cat.name }}
                        </option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary mt-3">Modifier</button>
            </form>
        </div>
    </div>
</div>