<div class="container wrapper">
  <div class="row">
    <div class="col-md-12">
      <div class="header mb-4">
        <form class="d-flex mb-2" role="search" (ngSubmit)="onSubmit($event)">
          <input class="form-control me-2" type="search" placeholder="Nom du produit" aria-label="Search" name="search">
          <button type="submit" class="btn btn-info">Rechercher</button>
        </form>
      </div>

      <div class="inner my-4">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle me-1" type="button" id="dropdownMenu2"
            data-bs-toggle="dropdown" aria-expanded="false">
            Tri
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" type="button" (click)="sortData('Nom')">Nom {{orderName}}</button>
            <button class="dropdown-item" type="button" (click)="sortData('Prix')">Prix {{orderPrice}}</button>
          </div>
          <button type="button" class="btn btn-danger me-1" (click)="resetSearch()">Réinitialisation</button>
          <button class="btn btn-primary float-end" type="button"
            [routerLink]="'/shops/' + idShop + '/products/add'">Ajout d'un
            produit</button>
          <button class="btn btn-secondary dropdown-toggle me-1" type="button" id="dropdownMenu2"
            data-bs-toggle="dropdown" aria-expanded="false">
            Filtre
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button *ngFor="let category of categories" class="dropdown-item" type="button"
              (click)="filter(category)">{{category.name}}</button>
          </div>
        </div>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">product</th>
              <th scope="col">Prix</th>
              <th scope="col">Description</th>
              <th scope="col">Catégories</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of productList | paginate: { itemsPerPage: 10, currentPage: pages }">
              <th scope="row">{{product.id}}</th>
              <td>{{product.name}}</td>
              <td>{{product.price}}</td>
              <td>{{product.description}}</td>

              <td>
                {{catList(product)}}
              </td>

              <td style="white-space: nowrap">
                <button type="button" class="btn btn-success btn-sm me-1"
                  [routerLink]="['/shops/edit', this.idShop, 'products', 'edit', product.id]">Edit</button>
                <button type="button" class="btn btn-danger btn-sm me-1"
                  (click)="deleteProduct(product)">Supprimer</button>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination-controls class="pagination" (pageChange)="pages = $event" previousLabel="Précédent"
          nextLabel="Suivant" [responsive]="true">
        </pagination-controls>
      </div>
    </div>
  </div>
</div>