<div class="container wrapper">
  <div class="row">
    <div class="col-md-12">
      <div class="header mb-4">
        <form class="d-flex mb-2" role="search" (ngSubmit)="onSubmit($event)">
          <input class="form-control me-2" type="search" placeholder="Nom de la boutique" aria-label="Search"
            name="search">
          <button class="btn btn-info dropdown-toggle me-1" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
            aria-expanded="false">
            Options de recherche
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <div>
              <label for="conge">Congé : </label>
              <select id="congeSearch" name="conge">
                <option value="null">Non spécifié</option>
                <option value="true">Oui</option>
                <option value="false">Non</option>
              </select>
            </div>
            <div>
              <label for="conge">Avant une date précise : </label>
              <input type="datetime-local" id="dateBeforeSearch" name="dateBeforeSearch">
            </div>
            <div>
              <label for="conge">Après une date : </label>
              <input type="datetime-local" id="dateAfterSearch" name="dateAfterSearch">
            </div>
            <div>
              <label for="conge">Entre deux dates précises : </label>
              <input type="datetime-local" id="dateBetweenSearch1" name="dateBetweenSearch1">
              <input type="datetime-local" id="dateBetweenSearch2" name="dateBetweenSearch2">
            </div>
          </div>
          <button type="submit" class="btn btn-info">Rechercher</button>
        </form>
      </div>

      <div class="inner my-4">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle me-1" type="button" id="dropdownMenu2"
            data-bs-toggle="dropdown" aria-expanded="false">
            Tri
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" type="button" (click)="sortData('Name')">Nom {{orderName}}</button>
            <button class="dropdown-item" type="button" (click)="sortData('Date')">Date {{orderDate}}</button>
            <button class="dropdown-item" type="button" (click)="sortData('nbProducts')">Produits
              {{orderNbProd}}</button>
          </div>
          <button type="button" class="btn btn-danger" (click)="resetSearch()">Réinitialisation</button>
          <button class="btn btn-primary float-end" type="button" routerLink="/shops/add">Ajout d'une boutique</button>
        </div>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Shop</th>
              <th scope="col">Horaires</th>
              <th scope="col">Conge</th>
              <th scope="col">Date de création</th>
              <th scope="col">Nombre de catégories</th>
              <th scope="col">Nombre de produits</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let shop of shopList | paginate: { itemsPerPage: 5, currentPage: pages }">
              <th scope="row">{{shop.id}}</th>
              <td>{{shop.name}}</td>
              <td>{{shop.openingTimes}}</td>
              <td *ngIf="shop.vacation">Oui</td>
              <td *ngIf="!shop.vacation">Non</td>
              <td>{{shop.creationDate.toLocaleString(undefined, { year: 'numeric', month: 'numeric',
                day: 'numeric', hour: 'numeric', minute: 'numeric'})}}</td>
              <td>{{shop.nbCategories}}</td>
              <td>{{shop.nbProducts}}</td>
              <td>
                <button type="button" class="btn btn-primary btn-sm me-1"
                  [routerLink]="['/shops/'+ shop.id + '/products/']">Produits</button>
                <button type="button" class="btn btn-success btn-sm me-1"
                  [routerLink]="['/shops/edit', shop.id]">Modifier</button>
                <button type="button" class="btn btn-danger btn-sm me-1" (click)="deleteShop(shop)">Supprimer</button>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination-controls class="pagination" (pageChange)="pages = $event" previousLabel="Précédent"
          nextLabel="Suivant" [responsive]="true">
        </pagination-controls>
      </div>

    </div>
  </div>
</div>