<div class="border rounded p-2 my-2" [formGroup]="productDetailForm">
    <div style="position: relative;">
        <button type="button" class="closeButton btn-close" (click)="onClose()"></button>
        <div class="form-group col">
            <label>Langue</label>
            <select type="text" class="form-control" formControlName="lang" required
                [ngClass]="{'is-invalid': submitted && ctrls['lang'].errors}">
                <option *ngFor="let c of langageCodes" value="{{c}}">{{getLanguageName(c)}}
                </option>
            </select>
            <div *ngIf="submitted && ctrls['lang'].errors" class="invalid-feedback">
                <div>Langue obligatoire</div>
            </div>
        </div>
        <div class="col">
            <label>Nom</label>
            <input type="text" class="form-control" formControlName="name" required maxlength="255"
                [ngClass]="{'is-invalid': submitted && ctrls['name'].errors}">
            <div *ngIf="submitted && ctrls['name'].errors" class="invalid-feedback">
                <div>Nom obligatoire</div>
            </div>
        </div>

        <div>
            <label>Description</label>
            <textarea class="form-control" formControlName="description" maxlength="65535"></textarea>
        </div>
    </div>
</div>