<div class="container wrapper wrapper2">
    <div class="row">
        <!-- Form -->
        <div class="col-md-12">
            <h3>Modification d'une boutique</h3>
            <form (ngSubmit)="submitForm()">
                <div class="form-group mb-2">
                    <label>Nom de la boutique</label>
                    <input type="text" [formControl]="shopName" class="form-control" maxlength="255" required>
                </div>
                <div class="form-group mb-2">
                    <label>Horaires de la boutique</label>
                    <div>
                        <ng-container #container></ng-container>
                    </div>
                    <button type="button" class="btn btn-info" (click)="addOpeningTime()">Ajouter des horaires</button>
                </div>
                <div class="form-check mb-2">
                    <label class="form-check-label">
                        <input type="checkbox" [formControl]="vacation" class="form-check-input">
                        Congé de la boutique
                    </label>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Modifier</button>
            </form>
        </div>
    </div>
</div>