<div class="container wrapper wrapper2">
    <div class="row">
        <!-- Form -->
        <div class="col-md-12">
            <h3>Modification d'une boutique</h3>
            <form [formGroup]="shopForm" (ngSubmit)="submitForm()">
                <div class="form-group mb-2">
                    <label>Nom de la boutique</label>
                    <input type="text" formControlName="name" class="form-control" maxlength="255" required
                        [ngClass]="{ 'is-invalid': submitted && ctrls['name'].errors }">
                    <div *ngIf="submitted && ctrls['name'].errors" class="invalid-feedback">
                        <div>Nom obligatoire</div>
                    </div>
                </div>
                <div class="form-group mb-2">
                    <label>Horaires de la boutique</label>
                    <div>
                        <ng-container #container></ng-container>
                    </div>
                    <button type="button" class="btn btn-info" (click)="addOpeningTime()">Ajouter des horaires</button>
                </div>
                <div class="form-check mb-2">
                    <label class="form-check-label">
                        <input type="checkbox" formControlName="vacation" class="form-check-input">
                        Congé de la boutique
                    </label>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Modifier</button>
            </form>
        </div>
    </div>
</div>